<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">skip to content</a>
    <header>
      <div class="appbar">
        <button id="navbar" href="#" type="button">☰</button>
      </div>
      <nav>
        <div class="navbar" id="bar">
          <div class="logo"><a href="index.html">Food Pedia</a></div>
          <div class="menu-bar">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Favorit</a></li>
              <li>
                <a
                  href="https://github.com/MochammadTaufikJuliandi"
                  target="_blank"
                  rel="noopener"
                  >About Us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="hero">
        <img src="./images/heros/hero-image_3.jpg" alt="" />
      </div>
      <div class="content" id="maincontent">
        <h2><a href="#">Restaurant</a></h2>
      </div>
      <div class="menu-list"></div>
    </main>
    <footer>
      <p>Copyright &copy; 2022 - Food Pedia</p>
    </footer>
  </body>
</html>
